.upcoming_view__calendar__wrapper
{
    display: none;
}

#top_bar
{
    display: none;
}

.upcoming_view .upcoming_view__list
{
    padding: 0 10px;
}

.upcoming_view .upcoming_view__list .section__wrapper
{
    padding-top: 1px;
}

.section header {
    display: none;
}

.view_header {
    display: none;
}

.task_list_item__info_tags
{
    display: none;
}

.view_content {
    padding-left: 20px;
    padding-right: 20px;
}
