/* https://github.com/AshSimmonds/unstylish/blob/main/youtube-stylish.css */
/* https://docs.google.com/document/d/119oKttnYV0DhNL2SXleXvc1ce2b1p80_NFcy9bHhwaU/edit?usp=sharing */

/* dislike button */
.style-scope.ytd-menu-renderer.force-icon-button.style-text {
    display: none;
}

/* share download thanks etc buttons */
#menu-container {
/*	display: none; */
}

/* view count and date */
#info-text {
    font-size: 6em;
}

/* related vids tags */
.style-scope yt-chip-cloud-renderer
{
	display: none;
}

/*progress bar */
.ytp-progress-bar-container 
{
    height: 129px !important; 
    bottom: 129px;
    opacity: 0.3;
}

.tp-yt-paper-checkbox.style-scope {
    width: 50px;
    
}

/* add to quere */
#items > ytd-menu-service-item-renderer.style-scope.ytd-menu-popup-renderer.iron-selected {
    display: none;
}

/* save to watch later */
#items > ytd-menu-service-item-renderer:nth-child(2) {
    display: none;
}

/* cast to */
#movie_player > div.ytp-chrome-bottom > div.ytp-chrome-controls > div.ytp-right-controls > button.ytp-remote-button.ytp-button {
    display: none;
}

/* autoplay */
#movie_player > div.ytp-chrome-bottom > div.ytp-chrome-controls > div.ytp-right-controls > button:nth-child(6) {
    display: none;
}

/* search by voice */
#voice-search-button {
    display: none;
}

#subscribe-button {
    display: none;
}

/* watch later - add to quere */
#hover-overlays {
    display: none;
}

/* genre layover on home page */
#scroll-container {
    display: none;
}

/* sidebar explore */
#sections > ytd-guide-section-renderer:nth-child(3) {
    display: none;
}

/* sidebar more from youtube */
#sections > ytd-guide-section-renderer:nth-child(4) {
    display: none;
}

/* multiselect add to queue */
#msfy-popup-menu #msfy-popup-menu-item-3 {
    display: none;
}

/* multiselect save to watch later */
#msfy-popup-menu #msfy-popup-menu-item-4 {
    display: none;
}

/* save to watch later */
#playlists > ytd-playlist-add-to-option-renderer:nth-child(1) {
    display: none;
}
